[Unit]
Description=stellplatztool
After=network.target

[Service]
User=namowo
Group=namowo
WorkingDirectory=/home/namowo/app/src/
Environment="PATH=/home/namwo/app/venv/bin"
EnvironmentFile=/home/namowo/.env
ExecStart=/home/namowo/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target